.App {
  text-align: center;
  margin: auto;
}

li {
  list-style-type: none;
  margin: 10px auto;
  width: 300px;
  border: 1px solid gray;
}

.list {
  min-height: 350px;
  min-width: 250px;
  margin: 10px auto;
  border: 2px solid black;
}

.sub-list {
  min-height: 200px;
  width: 400px;
  margin: 10px auto;
  border: 1px solid black;
}

.dropZone {
  flex: 0 0 auto;
  height: 40px;
  transition: 200ms all;
  border: 1px dashed slateblue;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 40px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: #bcbcbc;
  transition: 100ms all;
}